<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.da_traloicauhoi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
<!--        <activity android:name=".Chart"></activity>-->
        <activity android:name=".UI_Controller.BangXepHangActivity" />
        <activity android:name=".UI_Controller.LinhVucActivity" />
        <activity android:name=".UI_Controller.MuaCreditActivity" />
        <activity android:name=".UI_Controller.TroChoiActivity" />
        <activity android:name=".UI_Controller.QuanLyTKActivity" />
        <activity android:name=".UI_Controller.ManHinhChinhActivity" />
        <activity android:name=".UI_Controller.DangKyActivity" />
        <activity android:name=".UI_Controller.QuenMayKhauActivity" />
        <activity android:name=".UI_Controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>